# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Node packages
node_modules/
package-lock.json
package.json

# venv
venv/

#env
env.yml
iamrole.yml

__pycache__/